# Laravel
/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Compilados e caches
/public/build
/public/hot
/public/mix-manifest.json
/public/js
/public/css
# LINHA CORRIGIDA: Removida a linha /public/assets para incluir suas imagens!
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php

# IDEs e SO
.idea
.vscode
*.sublime-workspace
*.sublime-project

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Logs e dumps
*.log
*.sql
*.sqlite